*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*overflow: hidden;*/
}
*:focus{
    outline: none;
}

body{
    font-family: 'Kanit', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background:rgb(255, 120, 42);
}
.logo a{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    margin-left: 10px;
    text-decoration: none;
}
.logo:hover{
    cursor: pointer;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    flex: 1;
}
.nav-link:hover{
    cursor: pointer;
}
.nav-links li{
    list-style: none;
}
.nav-link a{
    color:white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}
.nav-link:hover{
    cursor: pointer;
}

.search{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 5px;

}
.search-button{
    background: none;
    border: none;
    padding-left: 2px;
    size: 2rem;
    cursor: pointer;
}
.search-input{
    background: none;
    border: none;
}

.section1{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 60px;
    background-image: url("./src/img/g.jpg");
    background-position: center;
    min-width: 100%;
    min-height: 3.9em
}
.glass{
    margin: 5px 0px;
    padding: 4rem 0px;
    background: white;
    min-width: 10vh;
    width: 70%;
    height: 218px;
    border-radius: 20px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
    );
    z-index: 1;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.4);

}
.section1-text{
    display: flex;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px rgb(37, 36, 36);
    letter-spacing: 3px;
    justify-content: center;
    z-index: 2;
}
