.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
#chart {
    margin: .5em 1em;
}
.axis text {
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
}

.timeline-label {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
}

#timeline2 .axis {
    transform: translate(0px,40px);
    -ms-transform: translate(0px,40px); /* IE 9 */
    -webkit-transform: translate(0px,40px); /* Safari and Chrome */
    -o-transform: translate(0px,40px); /* Opera */
    -moz-transform: translate(0px,40px); /* Firefox */
}

.coloredDiv {
    height:20px; width:20px; float:left;
}

.timelineSeries_0,
.timelineSeries_1{
    stroke: darkgreen;
}
.timelineSeries_0:hover,
.timelineSeries_1:hover{
    stroke: black;
    stroke-width: 3;
    cursor: pointer;

}

.label-legend{
    display: flex;
    margin:0;
    padding: 0;
}

.label{
    text-align: center;
    letter-spacing: 1.5px;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}